*~
.DS_Store
.vscode
.idea
cmake-build-debug
target/
gen-cpp/
CMakeFiles/
CMakeCache.txt
compile_commands.json
cmake_install.cmake
a.out
*.a
*.iml
tags
*.cbp
.ycm_extra_conf.py
.settings/
.project
.classpath